@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Beiruti', sans-serif;
  src: url('/Fonts/Beiruti.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: "Beiruti", sans-serif;
  margin: 0;
  padding: 0;
  background: #111827;
  color-scheme: dark light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  scroll-behavior: smooth;
}